LWCLearnwithFLOWOrg/force-app/main/default/flows/Create_a_Lead_from_FLOW.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>55.0</apiVersion>
    <environments>Default</environments>
    <interviewLabel>Create a Lead from FLOW {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Create a Lead from FLOW</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Rec_of_Lead</name>
        <label>Create Rec. of Lead</label>
        <locationX>176</locationX>
        <locationY>278</locationY>
        <connector>
            <targetReference>Welcome_Screen</targetReference>
        </connector>
        <inputAssignments>
            <field>Company</field>
            <value>
                <elementReference>Company</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LastName</field>
            <value>
                <elementReference>Enter_Name</elementReference>
            </value>
        </inputAssignments>
        <object>Lead</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <screens>
        <description>Create Lead from Flow</description>
        <name>Create_a_Lead</name>
        <label>Create a Lead</label>
        <locationX>176</locationX>
        <locationY>158</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Create_Rec_of_Lead</targetReference>
        </connector>
        <fields>
            <name>Enter_Name</name>
            <dataType>String</dataType>
            <fieldText>Enter Name</fieldText>
            <fieldType>InputField</fieldType>
            <helpText>&lt;p&gt;Enter the Last name of Lead&lt;/p&gt;</helpText>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Company</name>
            <dataType>String</dataType>
            <fieldText>Company</fieldText>
            <fieldType>InputField</fieldType>
            <helpText>&lt;p&gt;Enter the Name of your Company&lt;/p&gt;</helpText>
            <isRequired>true</isRequired>
        </fields>
        <nextOrFinishButtonLabel>Create Lead</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Welcome_Screen</name>
        <label>Welcome Screen</label>
        <locationX>176</locationX>
        <locationY>398</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Welcome</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot; class=&quot;ql-indent-1&quot;&gt;&lt;strong style=&quot;font-family: sans-serif; font-size: 20px; color: rgb(146, 53, 189);&quot;&gt;&lt;u&gt;Thank for Creating Lead, we will back to You Soon&lt;/u&gt;&lt;/strong&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot; class=&quot;ql-indent-1&quot;&gt;&lt;img src=&quot;https://ibirds86-dev-ed--c.documentforce.com/sfc/servlet.shepherd/version/download/0685i000006IfWf?asPdf=false&amp;amp;operationContext=CHATTER&quot; alt=&quot;ummat_logo_dark.PNG&quot;&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot; class=&quot;ql-indent-1&quot;&gt;&lt;strong style=&quot;color: rgb(4, 171, 250);&quot;&gt;To check your Lead&lt;/strong&gt;&lt;strong style=&quot;color: rgb(231, 30, 30);&quot;&gt; &lt;/strong&gt;&lt;a href=&quot;https://ibirds86-dev-ed.lightning.force.com/lightning/r/Lead/{!Create_Rec_of_Lead}/view&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot; style=&quot;color: rgb(231, 30, 30);&quot;&gt;&lt;strong&gt;Click Here&lt;/strong&gt;&lt;/a&gt;&lt;/p&gt;&lt;p class=&quot;ql-indent-1&quot; style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Create_a_Lead</targetReference>
        </connector>
    </start>
    <status>Active</status>
</Flow>
