LWCLearnwithFLOWOrg/force-app/main/default/flows/Get_Records_Flow_Total_Count.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>55.0</apiVersion>
    <assignments>
        <name>Assign_Record_for_Total</name>
        <label>Assign Record for Total</label>
        <locationX>176</locationX>
        <locationY>278</locationY>
        <assignmentItems>
            <assignToReference>TotalCountRecords</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>Get_Record_from_Contact_Object</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Show_Total_Records</targetReference>
        </connector>
    </assignments>
    <environments>Default</environments>
    <interviewLabel>Get Records Flow Total Count {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Get Records Flow Total Count</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_Record_from_Contact_Object</name>
        <label>Get Record from Contact Object</label>
        <locationX>176</locationX>
        <locationY>158</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Record_for_Total</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>MailingCity</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Dallas</stringValue>
            </value>
        </filters>
        <filters>
            <field>MailingCountry</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>USA</stringValue>
            </value>
        </filters>
        <filters>
            <field>CreatedDate</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>LastName</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>Show_Total_Records</name>
        <label>Show Total Records</label>
        <locationX>176</locationX>
        <locationY>398</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Total_Records</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;color: rgb(250, 11, 11); font-size: 16px;&quot;&gt;Total records from Mailing City and Mailing Country are:&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;font-size: 18px;&quot;&gt;{!TotalCountRecords}&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;font-size: 18px;&quot;&gt; &lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Record_from_Contact_Object</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>TotalCountRecords</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>2</scale>
    </variables>
</Flow>
