LWCLearnwithFLOWOrg/force-app/main/default/flows/Uodate_Contact_mailing_city.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>55.0</apiVersion>
    <assignments>
        <name>Assign_Contact_Records</name>
        <label>Assign Contact Records</label>
        <locationX>700</locationX>
        <locationY>629</locationY>
        <assignmentItems>
            <assignToReference>Iterate_the_Contact_Records.MailingCity</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Enter_City_Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Iterate_the_Contact_Records.Phone</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Phone.value</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Iterate_the_Contact_Records.Email</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Email.value</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Contact_Records</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Var_Store_collection</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>store_the_collected_records</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>store_the_collected_records</name>
        <label>store the collected records</label>
        <locationX>902</locationX>
        <locationY>528</locationY>
        <assignmentItems>
            <assignToReference>Var_Store_collection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Iterate_the_Contact_Records</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Iterate_the_Contact_Records</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_Contact_record_is_empty</name>
        <label>Check Contact record is empty</label>
        <locationX>451</locationX>
        <locationY>567</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Empty</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Get_Contact_Records</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Contact_Records</targetReference>
            </connector>
            <label>Empty</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Uodate Contact mailing city {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Uodate Contact mailing city</label>
    <loops>
        <name>Iterate_the_Contact_Records</name>
        <label>Iterate the Contact Records</label>
        <locationX>669</locationX>
        <locationY>464</locationY>
        <collectionReference>Get_Contact_Records</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Check_Contact_record_is_empty</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>update_the_contact_records</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_Contact_Records</name>
        <label>Get Contact Records</label>
        <locationX>671</locationX>
        <locationY>342</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Iterate_the_Contact_Records</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>Phone</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Email</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>MailingCity</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>update_the_contact_records</name>
        <label>update the contact records</label>
        <locationX>161</locationX>
        <locationY>464</locationY>
        <inputReference>Var_Store_collection</inputReference>
    </recordUpdates>
    <screens>
        <name>CityName</name>
        <label>CityName</label>
        <locationX>669</locationX>
        <locationY>206</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Get_Contact_Records</targetReference>
        </connector>
        <fields>
            <name>Enter_City_Name</name>
            <dataType>String</dataType>
            <fieldText>Enter City Name</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Phone</name>
            <extensionName>flowruntime:phone</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>Email</name>
            <extensionName>flowruntime:email</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>543</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>CityName</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <variables>
        <name>Var_Store_collection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Contact</objectType>
    </variables>
</Flow>
